

@font-face {
  font-family: 'Intro Demo';
  src: url('@/assets/fonts/IntroDemo/IntroDemo-BlackCAPS.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/IntroDemo/IntroDemo-BlackCAPS.woff2') format('woff2'),
      url('@/assets/fonts/IntroDemo/IntroDemo-BlackCAPS.woff') format('woff'),
      url('@/assets/fonts/IntroDemo/IntroDemo-BlackCAPS.otf') format('otf');
  font-display: swap
}
@font-face {
  font-family: 'FuturaPTHeavyOblique';
  src: url('@/assets/fonts/Futura PT Heavy Italic/FuturaPTHeavyOblique.eot');
  src: url('@/assets/fonts/Futura PT Heavy Italic/FuturaPTHeavyOblique.eot?#iefix') format('embedded-opentype'),
  url('@/assets/fonts/Futura PT Heavy Italic/FuturaPTHeavyOblique.woff') format('woff'),
  url('@/assets/fonts/Futura PT Heavy Italic/FuturaPTHeavyOblique.woff2') format('woff2'),
  url('@/assets/fonts/Futura PT Heavy Italic/FuturaPTHeavyOblique.otf') format('otf');
}

@font-face {
  font-family: 'Inter 500';
  src: url('@/assets/fonts/Inter 500/Inter-Medium.eot');
  src: url('@/assets/fonts/Inter 500/Inter-Medium.eot?#iefix')format("embedded-opentype"),
  url('@/assets/fonts/Inter 500/Inter-Medium.woff2')format("woff2"),
  url('@/assets/fonts/Inter 500/Inter-Medium.woff')format("woff"),
  url('@/assets/fonts/Inter 500/Inter-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter 700';
  src: url('@/assets/fonts/Inter 700/Inter-Bold.eot');
  src: url('@/assets/fonts/Inter 700/Inter-Bold.eot?#iefix')format("embedded-opentype"),
  url('@/assets/fonts/Inter 700/Inter-Bold.woff2')format("woff2"),
  url('@/assets/fonts/Inter 700/Inter-Bold.woff')format("woff"),
  url('@/assets/fonts/Inter 700/Inter-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT 400';
  src: url('@/assets/fonts/Futura PT 400/FuturaCyrillicBook.eot');
  src: url('@/assets/fonts/Futura PT 400/FuturaCyrillicBook.eot?#iefix')format("embedded-opentype"),
  url('@/assets/fonts/Futura PT 400/FuturaCyrillicBook.woff2')format("woff2"),
  url('@/assets/fonts/Futura PT 400/FuturaCyrillicBook.woff')format("woff"),
  url('@/assets/fonts/Futura PT 400/FuturaCyrillicBook.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT 450';
  src: url('@/assets/fonts/Futura PT 450/FuturaCyrillicMedium.eot');
  src: url('@/assets/fonts/Futura PT 450/FuturaCyrillicMedium.eot?#iefix')format("embedded-opentype"),
  url('@/assets/fonts/Futura PT 450/FuturaCyrillicMedium.woff2')format("woff2"),
  url('@/assets/fonts/Futura PT 450/FuturaCyrillicMedium.woff')format("woff"),
  url('@/assets/fonts/Futura PT 450/FuturaCyrillicMedium.otf') format('otf');
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT 600';
  src: url('@/assets/fonts/Futura PT 600/FuturaCyrillicHeavy.eot');
  src: url('@/assets/fonts/Futura PT 600/FuturaCyrillicHeavy.eot?#iefix')format("embedded-opentype"),
  url('@/assets/fonts/Futura PT 600/FuturaCyrillicHeavy.woff2')format("woff2"),
  url('@/assets/fonts/Futura PT 600/FuturaCyrillicHeavy.woff')format("woff"),
  url('@/assets/fonts/Futura PT 600/FuturaCyrillicHeavy.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
:root {
  font-size: 16px;
}
body {
  font-size: 16px;
}
body { font-family: 'Futura PT 400', Helvetica, sans-serif; }

@mixin IntroDemo-32-21 {
  font-family: 'Intro Demo';
  text-transform: uppercase;
  @include media('min', 'sm') { font-size: 22.5px; } // 21
  @include media('min', 'lg') { font-size: 32px; }
}

@mixin site-title {
  font-family: 'Intro Demo';
  font-size: 2rem;
  line-height: normal;
  text-transform: uppercase;
  @include media('min', 'sm') {
    font-size: 1.3125rem;
    line-height: 1.24;
    letter-spacing: 1.1px;
  }
  @include media('min', 'lg') { 
    font-size: 2rem;
    letter-spacing: 0px;
  }
}

@mixin contact {
  color: #000;
  font-family: 'Inter 700';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
}
// Main button
@mixin button-txt {
  font-family: 'Inter 500';
  line-height: 1.2;
  font-weight: 500;
  color: orange;
}
// h1 header
@mixin header-title {
  color: #fff;
  font-family: 'FuturaPTHeavyOblique';
  line-height: 1.3;
  text-transform: uppercase;
  @include media('min', 'sm') { font-size: 1.25rem; }
  @include media('min', 'lg') { font-size: 3.0625rem; }
}
@mixin header-sub-title {
  color: #fff;
  font-family: 'Futura PT 400';
  line-height: 1.1;
  @include media('min', 'sm') { font-size: 1.125rem; }
  @include media('min', 'lg') { font-size: 1.8125rem; }
}
// benefit cards
@mixin card-txt {
  color: #fff;
  font-family: 'Inter 700';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
}
// Input select
select {
  font-family: 'Futura PT 600';
  font-size: 18px;
  line-height: 1.3;
}
option {
  font-family: 'Futura PT 400';
  font-size: 18px;
  line-height: 1.3;
}

@mixin art {
  font-family: 'Futura PT 400';
  font-size: 1rem; // 16
  line-height: 1.25; // 20
  color: $light;
}
@mixin FT400-16-14 {
  color:#333;
  font-family: 'Futura PT 400';
  line-height: 1.3;
  @include media('min', 'sm') { font-size: 0.875rem; } // 14
  @include media('min', 'lg') { font-size: 1rem; } // 16
}
@mixin FT400 {
  font-family: 'Futura PT 400';
  line-height: 1.3;
  font-size: 1rem;
  color: $black;
}
@mixin FT400-16 {
  color:#333;
  font-family: 'Futura PT 400';
  line-height: 1.3;
  font-size: 1rem;;
}
@mixin FT600-12 {
  color:#fff;
  font-family: 'Futura PT 600';
  line-height: 1.3;
  font-size: .75rem;
}
@mixin FT600-18 {
  color:#fff;
  font-family: 'Futura PT 600';
  line-height: 1.3;
  font-size: 1.125rem; // 18
}
@mixin FT450-14 {
  font-family: 'Futura PT 450';
  line-height: 1.3;
  font-size: 0.875rem; // 14
}
@mixin FT450-16 {
  font-family: 'Futura PT 450';
  line-height: 1.3;
  font-size: 1rem; // 16
}
@mixin FT450-14-16 {
  font-family: 'Futura PT 450';
  line-height: 1.3;
  @include media('min', 'sm') { font-size: 0.875rem; } // 14
  @include media('min', 'lg') { font-size: 1rem; } // 16
}

// @include media('min', 'sm') { }
// @include media('min', 'lg') { }