// General breakpoints
// $breaks: ("sm":320px, "md":768px, "lg":1140px);
$breaks: ("sm":0px, "lg":1440px);

// NAV Menu
$nav-height: 4.5rem;

@mixin media($min-max, $media) {
  @each $size, $resolution in $breaks {
    @if $media == $size {
      @media only screen and (#{$min-max}-width: $resolution) {
        @content;
      }
    }
  }
}
// Main screen
@mixin general-width {
  @include media('min', 'sm') { width: 320px; }
  @include media('min', 'lg') { width: 1440px; }
}
// Main container
@mixin container-width {
  @include media('min', 'sm') { width: 300px; }
  @include media('min', 'lg') { width: 1400px; }
}
@mixin container-footer {
  @include media('min', 'sm') { width: 300px; }
  @include media('min', 'lg') { width: 1396px; }
}
@mixin container-paddings {
  @include media('min', 'sm') { padding: 0 10px; }
  @include media('min', 'lg') { padding: 0 20px; }
}


// Top menu strip
@mixin display-mode {
  @include media('min', 'sm') { display: none; }
  @include media('min', 'lg') { display: block; }
}
// Order button in menu
@mixin order-button {
  @include media('min', 'sm') { width: 120px; }
  @include media('min', 'lg') { width: 191px; }
}
// Header
@mixin header {
  @include media('min', 'sm') { 
    height: 226px; 
    border-radius: 1.1875rem;
  }
  @include media('min', 'lg') { 
    height: 348px;
    border-radius: 1.9375rem;
  }
}
// Footer
@mixin footer {
  $r: 1.6875rem;
  border-radius: $r $r 0 0;
  @include media('min', 'sm') { 
    height: 568px;
    width: 320px;
    margin-left: -10px;
    margin-right: -10px;
  }
  @include media('min', 'lg') {
    height: 146px;
    width: 1440px;
    margin-left: -20px;
    margin-right: -20px;
  }
}