@mixin prev-slct {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

// Grids
@mixin gpc {
  display: grid;
  place-content: center;
}

// @include media('min', 'sm') { }
// @include media('min', 'lg') { }