a {
  all: unset;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background-color: transparent;
  border: none;
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
  // text-indent: 1px;
  // text-overflow: '';
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
  text-decoration: none;
}