@import './modules/colors.scss';
@import './modules/fonts.scss';
@import './modules/layouts.scss';
@import './modules/resets.scss';
@import './modules/backgrounds.scss';

* {
  font-family: 'Futura PT 400', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: inherit;
  width: inherit;
  // mobile viewport bug fix */
  min-height: -webkit-fill-available;
  scroll-behavior: smooth;
}
// Grids
@mixin gpc {
  display: grid;
  place-content: center;
}

// Flexes
@mixin flex-jcsb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin fr-sb-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin fr-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin fc-sb-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-jcs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-jcr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@mixin flex-clmn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
@mixin fc-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin flex-title {
  @include media('min', 'sm') { @include flex-clmn }
  @include media('min', 'lg') { @include flex-jcsb }
}

// @include media('min', 'sm') { }
// @include media('min', 'lg') { }